---
css: [
    "page.css"
]
js: [
    "materialize.min.js",
    "particles.min.js",
    "main.min.js",
    "search.min.js"
]
---

{% include header.html %}

{% assign assets_base_url = site.url %}

<div class="container">
    <canvas class="background"></canvas>
    <script src="{{ assets_base_url }}/assets/js/min/particles.min.js"></script>
   
    <div id="page-info">
        <h1 class="page-title white-text">{{page.title}}</h1>
    </div>
    <div id="page-content" class="row">
        {{ content }}
    </div>
</div>

{% include footer.html %}